
<div>Tous les messages de l'école ou les devoirs seront affichés ci-dessous. Veuillez avoir les soins de vérifier tous les jours</div>
<div class="admin-letter-container">
  <h2 class="admin-letter-heading">Vos Messages:</h2> 
  <% if @letters.present? %>
    <% @letters.each do |letter| %>
      <div class="admin-letter">
        <div class="admin-letter-header">
          <div class="admin-letter-sender">
            <span class="admin-letter-sender-icon"><i class="fas fa-user-circle"></i></span>
            <span class="admin-letter-sender-name"><%= letter.sender.first_name %></span>
          </div>
          <div class="admin-letter-date">
            <em><%= letter.created_at.strftime("%B %d, %Y") %></em>
          </div>
        </div>
        <div class="admin-letter-body">
          <div class="admin-letter-subject"><%= letter.subject %></div>
          <div class="admin-document" style="padding: 15px 15px">
            <% if letter.document.attached? %>
              <%= link_to "Télécha mmrger le fichier", url_for(letter.document)%>
            <%end%>
          </div>
          <div class="admin-letter-message"><%= letter.body %></div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="admin-letter-body">
      <div class="admin-letter-message">Vous n'avez pas encore reçu de messages de l'administrateur</div>
    </div>
  <% end %>
</div>
