
<div class="communique-popup-icon">
  <%= image_tag"logos/CBGClogo.png", class: 'my-logo-popup-icon' %>
  <h1>Tableau de bord utilisateur</h1>
  <p>Bienvenue Monsieur/Madame : <%= current_user.first_name%></p>
</div>
<div style="margin: 30px auto; width: 60%">

<div style="display:flex; justify-content: center; gap: 20px; margin: 30px">
  <div style="background-color: #184C72; padding: 15px; border-radius: 10px; text-decoration: none; color: white; width: max-content">
    <%= link_to "Page d'accueil", root_path, style: "text-decoration: none; color: white"%>
  </div>
  <div style="background-color: #184C72; padding: 15px; border-radius: 10px; text-decoration: none; color: white; width: max-content">
    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, style: "text-decoration: none; color: white;"%>
  </div>
</div>

<%= current_user.email %>
<h2>Vos Messages:</h2> 
<% @letters.each do |letter| %>
  <div>
    <p>From: <%= letter.sender.first_name %></p>
    <p>Subject: <%= letter.subject %></p>
    <p>Message: <%= letter.body %></p>
  </div>
<% end %>
</div>