<div class="signup">

<%= form_with(model: [:admin, teacher], local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :nom_complet, class: 'label'%>
    <%= form.text_field :nom_complet, class: 'input' %>
  </div>
  <div>
  <%= form.label :addresse, class: 'label'%>
    <%= form.text_field :addresse, class: 'input' %>
  </div>
  <div>
    <%= form.label :niveau_etude, class: 'label'%> 
    <%= form.text_field :niveau_etude, class: 'input' %>
  </div>
  <div>
    <%= form.label :class_enseignee, class: 'label'%>
    <%= form.text_field :class_enseignee, class: 'input' %>
  </div>
  <div>
    <%= form.label :phone, class: 'label'%>
    <%= form.text_field :phone, class: 'input' %>
  </div>
  <div>
      <%= form.label :adresse_email, class: 'label'%>
    <%= form.text_field :email, class: 'input' %>
  </div>
 

  <div>
    <%= form.submit class: "button"%>
  </div>
<% end %>
</div>