<div id="<%= dom_id teacher %>">
    <div>
        <strong>Nom complet:</strong>
        <%= teacher.nom_complet %>
    </div>
    <div>
        <strong>Addresse:</strong>
        <%= teacher.addresse %>
    </div>
    <div>
        <strong>Phone:</strong>
        <%= teacher.niveau_etude, %>
    </div>
    <div>
        <strong>Email:</strong>
        <%= teacher.class_enseignee %>
    </div>
    <div>
        <strong>Email:</strong>
        <%= teacher.phone %>
    </div>
    <div>
        <strong>Email:</strong>
        <%= teacher.email %>
    </div>
    <div>
        <strong>Created at:</strong>
        <%= teacher.created_at %>
    </div>
    <p><%= link_to "Edit this teacher", edit_admin_teacher_path(teacher) %></p>
    <p><%= link_to "Back to teachers", admin_teachers_path %></p>
    <p><%= button_to "Destroy this teacher", admin_teacher_path(teacher), method: :delete, data: { confirm: "Are you sure?" } %></p>
</div>
