<div id="<%= dom_id chatroom %>" class="container">
  <div class="p-2 bg-primary text-white rounded d-flex justify-content-between">
    <div class="d-flex">
      <%= link_to chatrooms_path do %>
        <i class="bi bi-arrow-left-circle text-white mx-2"></i>
      <% end %>
      <i class="bi bi-people-fill"></i>
      <%= chatroom.name %>
    </div>
    <div>
      <% if current_user.is_admin? %>
        <%= link_to edit_chatroom_path(@chatroom), class: 'text-white text-decoration-none' do%> 
          <i class="bi bi-pencil-square"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div data-behavior="messages">
    <% @chatroom.instant_messages.order(created_at: :asc).limit(100).each do |mssge| %>
      <div class="d-flex">
        <strong class="d-flex">
          <i class="bi bi-person-circle mx-2"></i>
          <%= mssge.user.first_name%>:
        </strong>
        <div class="p-2 bg-light rounded m-3">
         <%= mssge.body %>
        </div>
      </div>
    <% end %>
  </div>

  <%= form_for [@chatroom, InstantMessage.new] do |f|%>
    <%= f.text_area :body, id: "new_message", rows: 3, autofocus: true, class: 'w-100 rounded m-3' %>
  <%end%>

</div>
