
<div class="dropdown">
  <button class="dropbtn" id="dropbtn"> Menu ⇣⇣</button>
  <div class="navlinks dropdown-content" id="dropdown-content">
    <a href="#apropos" class="link" >A propos</a>
    <a class="popup-btn communiquebtnpopup link">Communiqués</a>       
    <%= render "shared/communiquepopup" do%>
      <div class="communique-popup-icon">
        <%= image_tag"logos/CBGClogo.png", class: 'my-logo-popup-icon' %>
      </div>
      <% if @communiques.any? %>
        <p style="color: green"><%= notice %></p>
        <h1>Communiques</h1>
        <% @communiques.each do |communique| %>
          <div class="news">
              <h3 style="text-decoration: underline;"><%= communique.titre %></h3> <br/>
              <div>
                <% if communique.image.attached? %>
                   <%= image_tag communique.image, style: "width: 80%; height: 100%; margin: 10px auto; object-fit: fit" %>
                <% end %>
               </div>
               <p><%= communique.description %></p>
              <%= link_to "Voir", communique %>
          </div>
        <% end %>
        <% else %>
          <p>Il n'y a pas de communique pour le moment</p>
        <% end %>
    <%end%>
    <%= link_to "Contactez-nous", new_message_path, :class => "link" %>
    <% if user_signed_in?%>
       <% if current_user.is_admin? %>
        <%= link_to "Tableau de bord administrateur", admin_home_index_path, :class => "link" %>
       <% else %>
        <%= link_to 'Tableau de bord utilisateur', dashboard_index_path, :class => "link" %>
       <% end %>
         <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, :class => "link" %>
       <% else %>
         <%= link_to "Connexions", new_user_registration_path, :class => "link" %>
       <%end%>
  </div>
</div>