<div>
  <h2 style="margin-left: 30px; font-family: Helvetica, sans-serif">Nos Valeurs</h2>
  <div class="valeurs-cards">
    <div class="card card1-apprentis-comp">
      <header>
        <%= image_tag "logos/teachericon.png", width: "15%"%>
        <h2>Apprentissage des competences</h2>
      </header><br/>
      <p>Le cbg School offre aux élève un enseignement 
        de qualité dès les bas ages et au standard international pour les outiller afin d’affronter les défis et les opportunités 
        dans leur parcours académique et de leur future vie professionnelle
      </p>
    </div>
    <div class="card card2-enseign-qualif">
      <header>
        <%= image_tag "logos/twemoji_woman-teacher.png", width: "15%"%>
        <h2>Enseignants qualifiés</h2> <br/>
      </header>
      <p>
        Le staff professoral de notre école est constitué des meilleurs enseignants 
        qualifiés pour l'enseinement de l'école maternel, primaire et secondaire pour le programme 
        national congolais et le curriculum britannique. 
        Nous offrons l'enseignement des enfants avec l'habilité limitée, pour leurs besoins spécifiques 
        avec l'appuis de nos partenaire nationaux et internationaux.
      </p>
    </div>
    <div class="card card3-accreditation">
      <header>
        <%= image_tag "logos/Diploma.png", width: "15%"%>
        <h2>Accreditation</h2><br/>
      </header>
      <p>
          Notre aspiration est d'avoir l'accréditation auprès 
          du Conseil Britannique pour l'Education En RD Cong.
      </p>
    </div>
  </div>
</div>
<div class="philosophy">
  <%= image_tag('logos/philosophie.svg', alt: 'philosophie', class: 'philosophie') %>
</div>

<div class="apropos" id="apropos">
  <%= image_tag('logos/apropos.svg', alt: 'philosophie', class: 'philosophie') %>
</div>