<p style="color: green"><%= notice %></p>
<div style="margin: 40px">
<h2>Événements</h2> <br/>
<% if user_signed_in? && current_user.is_admin?%>
  <%= link_to '<< Tableau de bord ', admin_home_index_path, class: 'btn btn-primary', style: "margin-bottom: 10px"%><br/>
<% else %>
 <%= link_to '<< Page d\'accueil ', root_path, class: 'btn btn-primary', style: "margin-bottom: 10px"%><br/>
<%end%>
<% @events.each do |event| %>
  <div class="card" style="border: 1px solid #ccc; border-radius: 4px; margin-bottom: 20px;">
    <div class="card-body">
      <h3 class="card-title" style="text-align: center; padding: 15px"><%= event.title %></h3>
      
      <p style="margin: 10px; display: flex; justify-content: center">
        <% if event.image.attached? %>
          <%= image_tag event.image, style: "width: 60%; margin: 0 auto; object-fit: fit" %>
        <% end %>
      </div>
      <p class="card-text">
        <%= event.description %>
      </p>
      <%= link_to 'Show', events_path(event), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

</div>
