<p style="color: green"><%= notice %></p>

<h1>Teachers</h1>

<div id="teachers" class="teacher">
  <% @teachers.each do |teacher| %>
    <%= render teacher %>
    <h1><%= teacher.nom_complet %></h1>
     <p><%= teacher.addresse %></p>
    <p>
      <%= link_to "Show this teacher", teacher %>
    </p>
  <% end %>
</div>
