
<div class="adminlogo-container">
     <%= link_to(root_path) do%> <%= image_tag"logos/CBGClogo.png", class: 'adminlogo' %> <% end %>
     <h4>Bienvenu au tableau de bord administrateur!</h4> <br/>
     <div style="background-color: #f2f2f2; padding: 10px; border-radius: 25px; margin-bottom: 10px; display: flex; align-items: center;">
        <div >
          <%= image_tag "logos/user-profile-icon.png", style: " width: 30px; height: 30px; background-color: #ccc; border-radius: 50%; margin-right: 10px;" %>
        </div>
        <h4 style="margin: 0; font-size: 14px; font-weight: bold; color: #333;"><%= current_user.email %></h4>
     </div>
</div>
<div class="adminlinks">
  <%= link_to(admin_home_index_path, class: 'adminlink') do %>
     <%= image_tag("logos/home.png", class: "adminicon") %>
     <div style="align-self: center">
      <% concat "Home"%>
     </div>
  <%end%>
  <%= link_to(admin_eleves_path, class: 'adminlink') do %>
     <%= image_tag("logos/eleve-icon.png", class: "adminicon") %>
     <div style="align-self: center"> 
      <% concat "Eleve"%>
     </div>
  <%end%>
  <%= link_to(admin_communiques_path, class: 'adminlink') do %>
    <%= image_tag("logos/speaker-icon.png", class: "adminicon") %>
    <div style="align-self: center">
      <% concat "Communiques" %>
    </div>
  <% end %>

  <%= link_to(admin_teachers_path, class: 'adminlink') do %>
    <%= image_tag("logos/enseignant-icon", class: "adminicon") %>
    <div style="align-self: center">
      <% concat "Enseignants" %>
    </div>
  <% end %>

  <%= link_to(admin_parents_path, class: 'adminlink') do%>
    <%= image_tag("logos/parents-icon", class: "adminicon")%>
    <div style="align-self: center">
      <% concat "Parents" %>
    </div>
  <% end %>

  <%= link_to(logged_in_users_admin_home_index_path, class: 'adminlink') do %>
    <%= image_tag("logos/logged-users-icon.png", class: "adminicon") %>
    <div style="align-self: center">
      <% concat "Utilisateurs connectés" %>
    </div>
  <% end %>
</div>