<div class="dashboard">
  <div class="main-content">
    <div class="dashboard-content">
    <div>
      <a href="#events" style="text-decoration: none; color: #184C72; margin: 10px">Événements</a>
      <a href="#messages" style="text-decoration: none; color: #184C72; margin: 10px">Messages</a>
    </div>

      <div class="plans-week">
        <div class="plan-head">
          <h4 class="section-title">Paiements</h4>
          <button class="btn-add">+ Ajouter</button>
        </div>
        <div class="message">
          Non disponible
        </div>
      </div>
      <div class="plans-week">
      <div class="plan-head">
        <h4 class="section-title" id="events">Événements</h4>
        <a href="<%= new_admin_event_path %>" class="btn-add">+ Ajouter</a>
      </div>
       <% if @events.present? %>
         <ul class="events">
           <% @events.each do |event| %>
             <li class="event">
               <div class="event-date"><%= event.date %></div>
               <div class="event-details">
                 <div class="event-title"><%= event.title %></div>
                 <div class="event-description"><%= event.description %></div>
               </div>
               <div style="margin: 15px">
                 <%= link_to "Voir", admin_event_path(event), class: "btn-show" %>
               </div>
             </li>
           <% end %>
         </ul>
         <% else %>
           <div class="message">Aucun événement pour le moment.</div>
         <% end %>
      </div>

      <div class="plans-week messages">
        <div class="plan-head">
          <h4 class="section-title" id="messages">Messages</h4>
          <%# <button class="btn-delete">Tout Supprimer</button> %>
        </div>
        <div class="message-container">
          <p style="color: green"><%= notice %></p>
          <h1>Messages</h1>
          <div id="messages">
            <% @messages.each do |message| %>
              <div class="message">
                <div class="sender"><%= message.name %>:</div>
                <div class="text"><%= message.message %></div>
                <div><%= link_to "Voir", admin_message_path(message), class: "btn-show" %></div>
                <div><%= button_to "Effacer ce message", admin_message_path(message), method: :delete, data: { confirm: "Êtes-vous sûr?" }, class: "btn-show" %></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
