<p style="color: green"><%= notice %></p>

<%= render @communique %>

<div>
  <%= link_to "Modifier", edit_admin_communique_path(@communique) %> |
  <%= link_to "Retourner aux communiquer", admin_communiques_path %>

  <%= button_to "Effacer le communique", @communique, method: :delete %>
</div>
