<p style="color: green"><%= notice %></p>

<%= render @communique %>

<div>
  <%= link_to "Edit this communique", edit_communique_path(@communique) %> |
  <%= link_to "Back to communiques", communiques_path %>

  <%= button_to "Destroy this communique", @communique, method: :delete %>
</div>
