<div class="news-page">
  <h1>Communiques recents</h1>
  <%= link_to "+ Ajouter", new_admin_communique_path, class: "btn-new-teacher" %>
  <hr>
  
  <% @communiques.each do |communique| %>
    <div class="article">
      <h2><%= communique.titre %></h2>
      <p class="date">Date d'ajout: <%= communique.created_at.strftime("%B %d, %Y") %></p>
      <% if communique.image.attached? %>
        <%= image_tag communique.image, style: "width: 80%; height: 100%; margin: 10px auto; object-fit: fit" %>
      <% else %>
      <p class="summary"><%= communique.description %></p><br/>
        <div>Pas d'image</div>
      <% end %>
      <p class="read-more">
        <%= link_to "Voir", communique %>
        <%= button_to "Effacer", admin_communique_path(communique), method: :delete, data: { confirm: "Êtes-vous sûr?" }, class: "button", style: "width: 30%, margin: auto"%>
      </p>
    </div>
    <hr>
  <% end %>
  
  <%= link_to "Voir tous les communiques crees", admin_communiques_path, class: "btn" %>
  
</div>


