<p style="color: green"><%= notice %></p>

<h1>Communiques</h1>

<div id="communiques">
  <% @communiques.each do |communique| %>
    <div class="communique">
      <h2><%= communique.titre %></h2>
      <p><%= communique.description %></p>
      <p>
        <%= link_to "Show this communique", communique %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New communique", new_admin_communique_path %>

