<div style="display:flex; justify-content:center;">
  
  <p style="color: green"><%= notice %></p>
 
<div id="communiques" style="margin-top: 3rem; text-align:center ">
   <%= link_to(root_path) do%> <%= image_tag"logos/CBGClogo.png", class: 'my-logo-popup-icon' %> <% end %>

  
  <h1>Communiques</h1> <br />

  <% @communiques.each do |communique| %>
   <div style="border-radius: 20px; border-bottom: 1px solid black; padding: 15px">
    <h3><%= communique.titre%></h3> <br/>
    <% if communique.image.attached? %>
      <%= image_tag communique.image, style: "width: 60%; height: 245px; margin: 10px auto; object-fit: contain" %>
    <% else %>
      <div>Pas d'image rattachée</div>
    <% end %>
    <p><%= communique.description%></p> <br/>
    <p style="padding: 7px; border-radius: 8px; width: max-content; margin-bottom: 7px; background-color: black ">
      <%= link_to "voir", communique, style: "text-decoration: none; color: white" %>
    </p>
   </div> 
  <% end %>
</div>


</div>