<p style="color: green"><%= notice %></p>
<div style="text-align: center; margin-top: 4rem">
   <%= image_tag"logos/CBGClogo.png", class: 'my-logo-popup-icon' %> <br/>
   <p>
     <h1><%= @communique.titre %></h1> <br/>
   </p>   

   <p style="width: 65%; margin: auto"><%= @communique.description %></p>
   <div style="margin: 25px;">
   <%= link_to "Retour aux communiques", communiques_path, style: "text-decoration: none; background-color: black; color: white; padding: 7px; border-radius: 7px; " %>
     <% if current_user.is_admin?%>
       <%= link_to "Retour aux communiques administrateur", admin_communiques_path, style: "text-decoration: none; background-color: black; color: white; padding: 7px; border-radius: 7px; " %>
     <% end %> 
   </div>
</div>

