<p style="color: green"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @communique.titre %>
</p>

<p>
  <strong>description:</strong>
  <%= @communique.description %>
</p>


<div>
  <%= link_to "Back to communiques", communiques_path %>

  <%= button_to "Destroy this communique", @communique, method: :delete %>
</div>
